---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
    - accent
  filename: "themes/{{ flavor.identifier }}/{{ accent }}.conf"
---
[global]
frame_color = "#{{ flavor.colors[accent].hex }}"
separator_color= frame
highlight = "#{{ flavor.colors[accent].hex }}"

[urgency_low]
background = "#{{ base.hex }}"
foreground = "#{{ text.hex }}"

[urgency_normal]
background = "#{{ base.hex }}"
foreground = "#{{ text.hex }}"

[urgency_critical]
background = "#{{ base.hex }}"
foreground = "#{{ text.hex }}"
{# Ensure urgency is still visible even if the accent color is the normal urgent border color -#}
frame_color = "#{{ if(cond=(accent == "peach"), t=red.hex, f=peach.hex) }}"
